# ColumnTransformer in scikit-learn is a powerful tool that allows you to apply different preprocessing and transformation pipelines to different subsets of features in your dataset.

In [61]:
import numpy as np
import pandas as pd

In [49]:
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import OrdinalEncoder

In [50]:
df = pd.read_csv("Data/covid_toy.csv")
df.head()

   age  gender  fever cough     city has_covid
0   60    Male  103.0  Mild  Kolkata        No
1   27    Male  100.0  Mild    Delhi       Yes
2   42    Male  101.0  Mild    Delhi        No
3   31  Female   98.0  Mild  Kolkata        No
4   65  Female  101.0  Mild   Mumbai        No

In [51]:
# fill the null values in fever column
df.isnull().sum()

age           0
gender        0
fever        10
cough         0
city          0
has_covid     0
dtype: int64

In [52]:
# perform one hot encoding on gender column
df['gender'].value_counts()

gender
Female    59
Male      41
Name: count, dtype: int64

In [53]:
# perform ordinal encoding on cough column
df['cough'].value_counts()

cough
Mild      62
Strong    38
Name: count, dtype: int64

In [54]:
# perform one hot encoding on city column
df['city'].value_counts()

city
Kolkata      32
Bangalore    30
Delhi        22
Mumbai       16
Name: count, dtype: int64

In [55]:
# splitting dependent and independent features
X = df.iloc[:,:5]
y = df.iloc[:,-1]

In [56]:
from sklearn.model_selection import train_test_split

# splitting the data into training and testing data
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

In [57]:
from sklearn.compose import ColumnTransformer

# create a ColumnTransformer object
# transformers parameter takes in a list of tuples, each tuple contains 3 inputs, 1st the name of transformer, 2nd which transformer you want to use and 3rd is on which column you want to perform the transformation
# remainder parameter has two values, drop and passthrough. Drop value removes the remaining columns from the data and the passthrough keeps the remaining columns as it is
transformer = ColumnTransformer(
    transformers=[
        ('tnf1', SimpleImputer(), ['fever']),
        ('tnf2', OrdinalEncoder(categories=[['Mild', 'Strong']]), ['cough']),
        ('tnf3', OneHotEncoder(sparse_output=False, drop='first'), ['gender', 'city'])
    ],
    remainder='passthrough'
)

In [58]:
X_train = transformer.fit_transform(X_train)
X_test = transformer.transform(X_test)

In [59]:
X_train.shape

(80, 7)

In [60]:
X_test.shape

(20, 7)