In [14]:
import pandas as pd
import scipy.stats as stats
from scipy.stats import chi2,chi2_contingency

In [15]:
data = pd.read_csv(r"G:\Cursor\GitHub\Feature-Engineering\Data\smoking.csv")

In [16]:
data.head()

,Unnamed: 0,gender,age,marital_status,highest_qualification,nationality,ethnicity,gross_income,region,smoke,amt_weekends,amt_weekdays,type
0,1,Male,38,Divorced,No Qualification,British,White,"2,600 to 5,200",The North,No,NaN,NaN,NaN
1,2,Female,42,Single,No Qualification,British,White,"Under 2,600",The North,Yes,12.0,12.0,Packets
2,3,Male,40,Married,Degree,English,White,"28,600 to 36,400",The North,No,NaN,NaN,NaN
3,4,Female,40,Married,Degree,English,White,"10,400 to 15,600",The North,No,NaN,NaN,NaN
4,5,Female,39,Married,GCSE/O Level,British,White,"2,600 to 5,200",The North,No,NaN,NaN,NaN

In [21]:
contingency_table = pd.crosstab(data['smoke'], data['gender'])
print("Observed Values")
contingency_table

Observed Values

gender  Female  Male
smoke
No         731   539
Yes        234   187

H0: Smoke and gender are independent columns <br>
Ha: Smoke and gender are dependent columns

In [18]:
chi2_stats, p_value, dof, expected_values = chi2_contingency(contingency_table)

In [20]:
print(chi2_stats)
print(p_value)
print(dof)
print(expected_values)

0.4269900285762064
0.5134696034678925
1
[[724.74866943 545.25133057]
 [240.25133057 180.74866943]]

In [25]:
# alpha is level of significance
alpha = 0.05
critical_value = chi2.ppf(q=1-alpha,df=dof)
print(critical_value)

3.841458820694124

In [26]:
chi2_stats > critical_value

False

therefore, we failed to reject the null hypothesis and the two columns are independent of eachother